<h2>
  <%= link_to('htmltopdf', 'htmltopdf') %>
  &nbsp;
  <%= link_to('pdfinfo', 'pdfinfo') %>
  &nbsp;
  <%= link_to('pdftotext', 'pdftotext') %>
  &nbsp;
  <%= link_to('pdfextract', 'pdfextract') %>
  &nbsp;
  pdfunite
</h2>

<%= form_tag('/pdfunite', multipart: true) do %>

  <label>PDF file 1</label>
  <%= file_field_tag :file_1 %>

  <label>PDF file 2</label>
  <%= file_field_tag :file_2 %>

  <div class="submit-buttons">
    <%= submit_tag 'Download PDF', class: 'btn btn-primary' %> or
    <%= submit_tag 'Upload it to S3', class: 'btn' %>
  </div>

<% end %>
